.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  
}
ion-content,ion-card-subtitle,ion-card-title {
  --ion-background-color: #1a1a1a;
  color: white;
}

p{
  color: white;
}

.mona img {
  height: 200px;
  width: auto;
  
  
}

#monaq {

 
}

ion-radio {
  --color: white;
  
}

ion-item {
  --color: white;
}