<ion-header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <ion-toolbar>
    <ion-title>
      Art Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
      <ion-card-header>
      
        <ion-card-title>Guess the artwork's artist</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>



   <ion-card class="mona">
     <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="/assets/img/mona.jpg" alt=""/>
          </div>
         
          <div class="col-sm">
              <ion-list>
                  <ion-radio-group>
                      <ion-item>
                          <ion-label>Leonardo</ion-label>
                          <ion-radio slot="start" value="leonardo" ></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>Picasso</ion-label>
                          <ion-radio slot="start" value="picasso" ></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>Van Gogh</ion-label>
                          <ion-radio  slot="start" value="van Gogh" ></ion-radio>
                      </ion-item>
                  </ion-radio-group>
                </ion-list>
          </div>
          <div class="col-sm">
              
          </div>
        </div>
      </div>
   </ion-card>

   <ion-card class="mona">
      <div class="container">
         <div class="row">
           <div class="col-sm">
             <img src="/assets/img/rembrandt.jpg" alt=""/>
            </div>
           
            <div class="col-sm">
              <ion-list>
                  <ion-radio-group>
                      <ion-item>
                          <ion-label>Raphael</ion-label>
                          <ion-radio slot="start" value="leonardo" ></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>Michelangelo</ion-label>
                          <ion-radio slot="start" value="picasso" ></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>Rembrandt</ion-label>
                          <ion-radio  slot="start" value="van Gogh" ></ion-radio>
                      </ion-item>
                  </ion-radio-group>
                </ion-list>
              </div>
              <div class="col-sm">
                  
              </div>
         </div>
       </div>
    </ion-card>

    <ion-card class="mona">
        <div class="container">
           <div class="row">
             <div class="col-sm">
              
             </div>
             <div class="col-sm">
               <ion-button>Answer</ion-button>
             </div>
             <div class="col-sm">
               
              </div>
           </div>
         </div>
      </ion-card>
    
    
</ion-content>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
